#------------
# Required
#------------

# Provide your tenant ID (Required)
tenant_id = ""

# Azure Client ID (Required)
client_id = ""

# Azure Client secret (Required)
client_secret = ""

# Azure account subscription ID (Required)
subscription_id = ""


#------------
# Optional
#------------

# To overwrite the default (Optional)
location            = "eastus"
resource_group_name = "prima-test"

vault_vm_name  = "vault-instance" # must be lower case
consul_vm_name = "consul-server"  # must be lower case

domain    = "jason-skidmore.com" # Purchased domain
subdomain = "prima"

vm_admin_username = "azureuser"

environment = "test"
project     = "bananahands"


consul_tokens = {
  encrypt_key       = "VtLneVJIrITyVayEgCrmju13Q1VzP8AnAAxpKSyWYII=",
  acl_master_token  = "4118ff19-59c1-dde9-b61d-e049e62275b1",
  acl_agent_token   = "edce6281-bdf3-6417-4332-bcde9d71835f",
  acl_default_token = "d2884566-ee08-8f4c-3bcb-d741f88c5a08"
}

vnet_address_space = "10.0.0.0/16"

# Requires at least one
public_ip_allowlist = [
  "73.148.0.0" # Your Public IP
]


tags = {
  environment = "Learning" # In case your using tags
  owner       = "bananahands"
  project     = "demo2021"
}
